body {
  margin:0;
  font-family: Arial;
  background:#05070f;
  color:white;
}

/* TOP BAR */
.topbar {
  display:flex;
  gap:10px;
  padding:10px;
  background:#0b1225;
}

.logo {
  color:#00ffff;
  font-weight:bold;
}

input {
  flex:1;
  padding:10px;
  background:#111a33;
  border:none;
  color:white;
}

/* LAYOUT */
.layout {
  display:flex;
  height:calc(100vh - 50px);
}

.sidebar {
  width:170px;
  background:#070d1c;
  display:flex;
  flex-direction:column;
}

.sidebar button {
  padding:12px;
  background:none;
  border:none;
  color:white;
  cursor:pointer;
}

.sidebar button:hover {
  background:#142044;
}

.main {
  flex:1;
  padding:15px;
  overflow:auto;
}

.panel { display:none; }
.panel.active { display:block; }

.result {
  background:#121a33;
  padding:10px;
  margin:10px 0;
}

/* APPS */
#appsGrid {
  display:grid;
  grid-template-columns:repeat(6,1fr);
  gap:10px;
}

.app {
  background:#121a33;
  padding:15px;
  text-align:center;
  cursor:pointer;
}

/* BIG BUTTON */
.big {
  padding:20px;
  font-size:20px;
}
